* {
  margin: 0;
  padding: 0;
}

.mainContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  .tabItem {
    margin-top: 20px;
    background: #f5f5f5;
    width: 200px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    img {
      //width: 200px;
      height: 200px;
      border-bottom: 1px solid white;
    }
    span.like{
      margin-left: 5px;
    }
    span.order{
      margin-left: 5px;
    }
  }
}
.thumbnail {
  display: flex;
  flex-direction: column;
  align-items: center;
  h3, p {
    text-align: center;
  }
  .orderBtn {
    margin-left: 20px;
  }
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  margin-top: -10px;
  margin-bottom: -10px;
}

.iconText{
  margin-left: 5px;
}

.orderListItem, .messageListItem{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  img {
    height: 80px;
  }
  .orderListItemImg{
    height: 110px;
  }
  .orderListItemImgContainer {
    height: 110px;
    width: 110px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .name{
    font-size: 18px;
  }
  .orderEnd {
    color: red;
  }
  .orderListItemContent, .messageListItemContent {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}



.messageListItem {
  img {
    border-radius: 40px;
  }
}

.send{
  margin-top: 8px;
}
